        body {
            font-family: 'Rubik', sans-serif;
        }
        
        h1 {
            font-size: 3em;
            margin-bottom: 0;
            color: #2f3542;
            font-family: 'Merriweather', serif;
        }
        
        p {
            color: #747d8c;
        }
        
        .jumbotron {
            margin-bottom: 0;
            background-color: #fff;
        }
        
        .jumbotron p:last-child {
            margin-bottom: 0;
        }
        
        .jumbotron-heading {
            font-weight: 300;
        }
        
        .jumbotron .container {
            max-width: 42rem;
        }
        
        footer {
            padding-top: 3rem;
            padding-bottom: 3rem;
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: -1;
        }
        
        footer p {
            margin-bottom: .25rem;
        }
        
        .box-shadow {
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        }
        
        .small,
        small {
            font-size: 90%;
            font-weight: 400;
            font-style: italic;
        }
        
        h2 {
            font-weight: 900;
            font-size: 2em;
            color: #2f3542;
            font-family: 'Merriweather', serif;
        }
        
        #about p {
            font-size: 1.1em;
            font-weight: 300;
        }
        
        .btn-primary {
            color: #fff;
            background-color: #4a53f9;
            border-color: #4a53f9;
        }
        
        .btn-primary:hover {
            color: #fff;
            background-color: #5352ed;
            border-color: #5352ed;
        }
        
        main {
        	margin-bottom: 290px;
        	background-color: #fff;
        }
        
        a {
            color: #4a53f9;
        }
        
        .btn-secondary {
            color: #4a53f9;
            background-color: #f1f5fa;
            border-color: #f1f5fa;
        }
        
        .btn-secondary:hover,
        .btn-secondary:active,
        .btn-outline-secondary {
            color: #4a53f9;
            background-color: transparent;
            border-color: #4a53f9;
        }
        
        .btn-outline-secondary:hover,
        .btn-outline-secondary:active {
            color: #4a53f9;
            background-color: #f1f5fa;
            border-color: #f1f5fa;
        }
        
        footer h3 {
            color: #2f3542;
            font-weight: 500;
            font-size: 1.25em;
            font-family: 'Merriweather', serif;
        }
        
        footer h4 {
            line-height: 2;
            font-weight: 300;
            font-size: 1em;
        }
        
        address {
            font-weight: 300;
            font-size: 1em;
        }
        
        footer a {
            color: #666;
            text-decoration: none;
        }
        
        .text-muted {
            color: #747d8c !important;
        }
        .developer {
	font-size: 0.85rem;
	color: #666;
}
        
        .modal-dialog {
            max-width: 800px;
            margin: 1.75rem auto;
        }
        
        #personalize {
            padding: 40px 0;
            background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        }
        
        #personalize p {
            font-size: 1.1em;
            font-weight: 300;
            color: #fff;
        }
        
        #personalize h2 {
            color: #fff;
        }
        .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
        .bg-light {
            background-color: #f1f2f6;
        }
        
        .card:hover {
            transition: all ease-in-out 0.2s;
            transform: translate(0, -5px);
        }
        
        .navbar-light .navbar-brand {
            color: #2f3542;
        }
        
        @media screen and (max-width:768px) {
            footer {
                position: relative;
            }
            main {
                margin-bottom: 0;
            }
        }
